%header.row
  %h1.text-center.col-md-6.col-md-offset-3= 'Search'

%section.row
  %form
    .form-group.col-md-6.col-md-offset-3
      %label.sr-only{'for' => 'keywords'}= 'Keywords'
      %input.form-control{'ng-model' => 'keywords',
                          'autofocus' => '',
                          'type' => 'text',
                          'placeholder' => '日本語'}
    .form-group.col-md-6.col-md-offset-3.text-center
      %button.btn.btn-primary.btn-lg{'ng-click' => 'search(keywords)' }= 'Search'
%hr
%section.row{'ng-if' => 'notes'}
  %h1.text-center.h2= 'Results'
  %ul.list-unstyled
    %li{'ng-repeat' => 'note in notes'}
      %section.well.col-md-6.col-md-offset-3
        %h1.h3.col-md-6.text-right{'style' => 'margin-top: 0'}
          %a{'href' => '#', "ng-click" => "view(note.id)"} {{ note.name }}
        .col-md-6
          %button.btn.btn-info{'ng-click' => "edit(note.id)"}= 'Edit'
          %button.btn.btn-danger{'ng-click' => "delete(note.id)"}= 'Delete'
